<h1>Create new team</h1>
<% if @errors %>
  <% @errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end  %>
<% end %>


<%= form_for :team, url: teams_path, html: { multipart: true } do |f| %>
  <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :city, "City:" %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :country, "Country:" %>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.label :coach, "Coach:" %>
    <%= f.text_field :coach %>
  </p>

  <p>
    <%= f.label :shield, "Shield Image" %>
    <%= f.file_field :shield %>
  </p>

  <p>
  <%= f.submit "Create Team" %>
  </p>
<% end %>
